@charset "UTF-8";
body {
  color: #231815;
}

.header {
  background-color: #2B833A;
  padding: 5px;
  position: relative;
  z-index: -2;
  text-align: center;
}

.header p {
  font-family: kozuka-gothic-pr6n, sans-serif;
}

.header .header_top {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 400;
  color: #EEE93A;
  border: #EEE93A 3px solid;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.header .header_bottom {
  font-size: 3.2rem;
  font-weight: 900;
  color: #FFF;
}

.main {
  background: url(../img/main-bg.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: -3;
}

.main .top-white {
  width: 80%;
  margin-top: 30px;
  z-index: 10;
}

.main .book {
  width: 70%;
  padding-left: 15%;
  z-index: 1;
}

.main .three {
  padding: 5px 7%;
}

.main .percent {
  position: absolute;
  width: 20%;
  top: 30%;
  left: 10%;
}

.contact {
  position: relative;
  margin: 50px 10px 30px;
  font-family: kozuka-gothic-pr6n, sans-serif;
}

.contact .contact-top {
  position: absolute;
  font-weight: 700;
  width: 75%;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4DA934;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 5px 5px;
  text-align: center;
}

.contact .contact-top .contact-top-top {
  color: #FFF;
  font-size: 1.6rem;
}

.contact .contact-top .contact-top-top span {
  color: #EEE93A;
  position: relative;
}

.contact .contact-top .contact-top-top span::before {
  content: "・";
  position: absolute;
  top: -0.7em;
  left: 0;
}

.contact .contact-top .contact-top-bottom {
  color: #FFF;
  font-size: 1.23rem;
}

.contact .contact-top .contact-top-bottom span {
  color: #EEE93A;
}

.contact .contact-inner {
  border: solid 2px #000;
  border-radius: 10px;
  padding: 40px 0 10px;
}

.contact .contact-inner .contact-title {
  background-image: url(../img/contact-slash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0 20px;
  display: table;
  color: #117A3B;
  font-weight: 700;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact .contact-inner .flex {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto 10px;
}

.contact .contact-inner .flex > img {
  width: 25%;
  margin-left: 2%;
  transform: rotate(-5deg);
}

.contact .contact-inner .flex .flex-inner {
  width: 75%;
}

.contact .contact-inner .flex .flex-inner .inner-top {
  font-size: 1rem;
}

.contact .contact-inner .flex .flex-inner .inner-bottom {
  font-size: 1rem;
  font-weight: 700;
}

.contact .contact-inner .flex .flex-inner img {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.contact .contact-inner form input[type="text"] {
  display: block;
  border: 1px solid #000;
  background-color: #e4e8f3;
  font-size: 1.6rem;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.contact .contact-inner form > div {
  width: 90%;
  margin: 10px auto;
}

.contact .contact-inner form button {
  width: 100%;
}

.contact .contact-inner .atention {
  color: #504955;
  font-size: 1.2rem;
  display: table;
  margin: 0 auto;
}

.second {
  margin-top: 30px;
}

.red {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.red img {
  width: 20%;
}

.study .study-top {
  position: relative;
  background-color: #8EB223;
  text-align: center;
  padding: 20px 0;
}

.study .study-top .title-img {
  width: 70%;
  margin-right: 50px;
}

.study .study-top .woman {
  position: absolute;
  width: 18%;
  top: -7px;
  left: 75%;
}

.study .study-top .triangle1 {
  position: absolute;
  width: 0px;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #8EB223;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.study .study-bottom {
  background-color: #F8F9E5;
  font-family: kozuka-gothic-pr6n, sans-serif;
  padding: 40px 20px 20px;
}

.study .study-bottom .title {
  font-size: 2.4rem;
  font-weight: 700;
}

.study .study-bottom .study-center {
  text-align: center;
}

.study .study-bottom .title-bottom {
  font-size: 2.8rem;
  font-weight: 700;
  color: #2B833A;
  background: linear-gradient(transparent 69%, #EEE93A 70%);
  display: inline-block;
  margin-bottom: 40px;
}

.study .study-bottom .title-bottom span {
  color: #504F4F;
}

.study .study-bottom .study-content {
  margin-bottom: 10px;
}

.study .study-bottom .study-content img {
  width: 100%;
}

.study .study-bottom .study-content .flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.study .study-bottom .study-content .flex img {
  width: 7%;
}

.study .study-bottom .study-content .flex p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #207F3B;
  background: linear-gradient(transparent 69%, #EEE93A 70%);
  display: inline-block;
}

.study .study-bottom .bottom-red {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  display: table;
  margin: 0 auto;
}

.study .study-bottom .bottom-red span {
  color: #E61F19;
  font-size: 1.6rem;
}

.study .study-bottom .bottom-red span:first-of-type {
  font-size: 1.15rem;
  width: 100%;
}

.green {
  position: relative;
  background-color: #A5C150;
  background-size: cover;
  background-position: center;
  font-family: kozuka-gothic-pr6n, sans-serif;
  padding: 30px 20px 10px;
}

.green .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -5px;
}

.green .x {
  font-size: 5rem;
  font-weight: 700;
}

.green .cercle {
  background-color: #FFF;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.green .cercle .f-img {
  width: 95%;
}

.green .cercle .s-img {
  width: 70%;
}

.green .flex-b {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24%;
}

.green .flex-b img:first-child {
  width: 30%;
}

.green .flex-b img:last-of-type {
  width: 50%;
}

.green .back {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.manga {
  position: relative;
  border: #A5C150 5px solid;
  border-radius: 40px;
  box-shadow: 0 0 0 12px #FFF inset, 0 0 0 15px #2B833A inset;
  box-sizing: border-box;
  margin: 70px auto 30px;
  width: 92%;
  font-family: kozuka-gothic-pr6n, sans-serif;
}

.manga .manga-top {
  padding-top: 30px;
  margin: 0 auto;
  width: 80%;
}

.manga .manga-img {
  text-align: center;
}

.manga .green-line {
  height: 5px;
  width: 80%;
}

.manga .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.manga .flex div > div {
  display: flex;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 10px;
  margin-left: 10px;
}

.manga .flex div > div .yellow {
  color: #E84318;
  background: linear-gradient(transparent 69%, #EEE93A 70%);
}

.manga .flex img {
  position: absolute;
  width: 30%;
  height: auto;
  top: 55px;
  left: 65%;
}

.manga .manga-bottom {
  font-size: 1.6rem;
  padding-bottom: 5px;
}

.manga .manga-bottom:last-child {
  padding-bottom: 32px;
}

.manga .manga-sub {
  width: 80%;
  margin: 0 auto;
}

.manga .manga-sub img {
  width: 70%;
}

.giza {
  position: relative;
}

.sub {
  position: relative;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  background-color: #2B833A;
  padding-bottom: 10px;
}

.sub .sub-top {
  width: 90%;
  margin: 0 auto;
}

.sub .sub-content {
  border: #2B833A 4px solid;
  background-color: #F8F9E5;
  border-radius: 40px;
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px #F8F9E5;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 10px;
}

.sub .sub-content .sub-inner {
  width: 90%;
  display: table;
  margin: 0 auto;
}

.sub .sub-content .sub-inner .inner-item span {
  color: #E84D18;
}

.sub .sub-content img {
  margin-bottom: 10px;
}

.sub .tri {
  position: absolute;
  top: 100%;
  left: 0;
}

.merit {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(../img/grd.png);
  background-position: center;
  background-size: cover;
  font-family: kozuka-gothic-pr6n, sans-serif;
}

.merit .merit-top {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.merit .merit-content {
  background-color: #FFF;
  border: #E8DA85 8px solid;
  width: 90%;
  margin: 0 auto 20px;
  padding: 20px 10px;
}

.merit .merit-content .flex {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.merit .merit-content .flex img {
  width: 10%;
  margin-right: 5px;
}

.merit .merit-content .flex .merit-inner {
  color: #156333;
  font-size: 2.4rem;
  font-weight: 700;
}

.merit .merit-content .flex:last-child {
  padding-bottom: 0;
}

.merit .merit-bottom {
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto 10px;
}

.merit .merit-bottom span {
  color: #E51C22;
  font-weight: 700;
}

.merit .yellow-outer {
  width: 80%;
  margin: 0 auto;
}

.merit .merit-yellow {
  display: inline-block;
  color: #E51C22;
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(transparent 39%, #EEE93A 40%);
}

footer .footer-top {
  padding: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  background-color: #EFEFEF;
}

footer .img {
  width: 50%;
  margin: 30px auto;
}

footer .footer-bottom {
  background-color: #EFEFEF;
  padding: 10px 20px;
}

footer .footer-bottom .bottom-title {
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  padding-bottom: 10px;
}

footer .footer-bottom .bottom-inner {
  background-color: #FFF;
  padding: 0 30px;
}

footer .footer-bottom .bottom-inner p {
  font-size: 1.3rem;
  font-weight: 700;
}

footer .footer-bottom .bottom-inner p:first-child {
  padding-top: 30px;
}

footer .footer-bottom .bottom-inner p:not(:first-child) {
  padding-bottom: 30px;
}

.giza1 {
  position: absolute;
  left: 0;
  top: 93%;
}

.giza2 {
  position: absolute;
  left: 0;
  top: 99%;
}

.giza3:before {
  content: "";
  display: block;
  background: linear-gradient(135deg, #fff 16px, transparent 0%) 0 16px, linear-gradient(-135deg, #fff 16px, #2B833A 0%) 0 16px;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 32px 32px;
  height: 32px;
}

.star1 {
  position: absolute;
  width: 10%;
  z-index: 10;
  top: 85%;
  right: 15%;
}

.star2 {
  position: absolute;
  width: 10%;
  top: 15%;
  left: 5%;
  z-index: -1;
}

.star3 {
  position: absolute;
  width: 10%;
  top: 50%;
  left: 5%;
}

.star4 {
  position: absolute;
  width: 10%;
  top: 15%;
  right: 5%;
  z-index: -1;
}

.shine1 {
  position: absolute;
  z-index: 2;
  width: 8%;
  top: 85%;
  left: 10%;
}

.shine2 {
  position: absolute;
  width: 5%;
  top: 5%;
  right: 10%;
}

.shine3 {
  position: absolute;
  width: 5%;
  top: 35%;
  right: 10%;
}

.shine4 {
  position: absolute;
  width: 5%;
  top: 65%;
  left: 20%;
  z-index: -1;
}

.shine5 {
  position: absolute;
  width: 8%;
  top: 63%;
  right: 14%;
  z-index: -1;
}

.star5 {
  position: absolute;
  width: 8%;
  top: 20%;
  left: 2%;
}

.star6 {
  position: absolute;
  width: 8%;
  top: 4%;
  right: 5%;
}

.star7 {
  position: absolute;
  width: 8%;
  top: 10%;
  right: 40%;
}

.star8 {
  position: absolute;
  width: 7%;
  top: 72%;
  left: 33%;
}

.star9 {
  position: absolute;
  width: 8%;
  top: 75%;
  right: 5%;
}

.shine6 {
  position: absolute;
  width: 5%;
  top: 3%;
  left: 25%;
}

.shine7 {
  position: absolute;
  width: 5%;
  top: 80%;
  left: 25%;
}

.shine8 {
  position: absolute;
  width: 3%;
  top: 55%;
  left: 50%;
}

.shine9 {
  position: absolute;
  width: 5%;
  top: 80%;
  right: 15%;
}

.shine10 {
  position: absolute;
  width: 5%;
  top: 85%;
  right: 40%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading::before,
.heading::after {
  content: '';
  width: 3px;
  height: 40px;
  background-color: #FFF;
}

.heading::before {
  margin-right: 10px;
  transform: rotate(-20deg);
}

.heading::after {
  margin-left: 8px;
  transform: rotate(20deg);
}

.manga-last {
  width: 95%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */